body {
  font-family: Arial, sans-serif; /* A more modern font */
  margin: 0;
  padding: 20px;
  box-sizing: border-box;
  background-color: #f4f4f4; /* Light background color */
}

.siteTitle {
  font-family: "Playfair Display", serif;
  text-align: center;
  color: #333; /* Dark grey color for the title */
}

.button-container {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 20px;
}

.startBtn {
  font-family: Roboto, sans-serif;
  font-weight: 0;
  font-size: 14px;
  color: #fff;
  background: linear-gradient(90deg, #0066cc 0%, #c500cc 100%);
  padding: 10px 30px;
  border: 2px solid #0066cc;
  box-shadow: rgb(0, 0, 0) 0px 0px 0px 0px;
  border-radius: 50px;
  transition: 1000ms;
  transform: translateY(0);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-items: center;
  cursor: pointer;
}

.startBtn:hover {
  transition: 1000ms;
  padding: 10px 50px;
  transform: translateY(-0px);
  background: linear-gradient(90deg, #0066cc 0%, #c500cc 100%);
  color: #ff5e5e;
  border: solid 2px #0066cc;
}

.resultsContainer {
  width: 80%; /* Adjust this value to make the container smaller or larger */
  margin: 0 auto; /* This centers the container horizontally */
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Keeps your 3-column layout */
  gap: 20px; /* Keeps space between grid items */
  padding: 50px;
  box-sizing: border-box; /* Ensures padding does not affect the overall width */
}

.result {
  background-color: #fff; /* White background for each result */
  border: 1px solid #ddd; /* Light border for each result */
  border-radius: 8px; /* Rounded corners for polish */
  overflow: hidden; /* Ensures the content fits within the borders */
  justify-content: center;
}

.result:hover {
  cursor: pointer;
}

.coverArt {
  background-color: #bbb; /* Placeholder background color, can be removed if actual images are used */
  width: 100%; /* Adjusted to cover the full width of the result correctly */
  position: relative; /* Needed for absolute positioning of the image */
}

.coverArt::before {
  content: "";
  display: block;
  padding-top: 150%; /* Adjust this value based on the desired aspect ratio */
  /* For a 2:3 aspect ratio, padding-top: (3/2) * 100% = 150% */
}

.coverArt img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center; /* Explicitly center the image */
}

.movieTitle {
  font-family: "Playfair Display", serif;
  padding: 10px;
  font-size: 16px; /* Readable font size */
  text-align: center;
  color: #333; /* Dark grey color for the movie titles */
}

/*   MEDIA QUERIES */
@media (max-width: 600px) {
  .resultsContainer {
    grid-template-columns: 1fr; /* 1 column for small screens */
  }
}

@media (min-width: 601px) and (max-width: 900px) {
  .resultsContainer {
    grid-template-columns: repeat(2, 1fr); /* 2 columns for medium screens */
  }
}
